body {
  margin: 0;
  background-color: #121829e7;
}

.navbar-custom {
  background-color: #121829e7;
  padding: 1rem 2rem;
}

.navbar-brand img {
  height: 30px;
}

.nav-link {
  color: var(--text-gray) !important;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active-link {
  color: var(--primary-color) !important;
}

.nav-link.suggest {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.arrow {
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.nav-link:hover a > .arrow {
  transform: translateX(4px);
  color: var(--primary-color);
}
