<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Logo" />
    </a>

    <!-- Hamburger button for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="isMenuOpen"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible navbar content -->
    <div
      class="navbar-collapse justify-content-end"
      [ngClass]="{ show: isMenuOpen, collapse: !isMenuOpen }"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        @for (item of navItems; track $index) {
        <li class="nav-item" (click)="handleNavClick(item)">
          <a [ngClass]="{ 'active-link': item.active }" class="nav-link">
            {{ item.name }}
            @if (item.icon) {
            <i class="{{ item.icon }} arrow"></i>
            }
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
