.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(89, 170, 231) !important;
}
.nav-link {
  font-size: 1.1rem;
  color: white !important;
}
.nav-link:hover {
  color: rgb(89, 170, 231) !important;
}
.btn-login {
  background: rgb(89, 170, 231);
  color: black;
  font-weight: bold;
}
.btn-login:hover {
  background: #404241;
}
.navbar {
  background: #404241 !important;
}
.form-control {
  width: 250px;
}
