<div class="slider-container">
  <swiper-container
    [slides-per-view]="1"
    [space-between]="0"
    [loop]="true"
    [autoplay]="autoplayConfig"
    [navigation]="true"
    [pagination]="paginationConfig"
    class="movie-slider"
  >
    @for (movie of movies; track $index) {
    <swiper-slide class="movie-slide">
      <div class="movie-card" (click)="goToMovie(movie.id)">
        <img
          [src]="movie.poster"
          [alt]="movie.title"
          class="movie-poster"
          loading="lazy"
        />
        <div class="movie-overlay">
          <h3 class="movie-title">{{ movie.title }}</h3>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</div>
