@if(upComingMovies().length > 0) {
<div class="slider-container">
  <swiper-container
    #swiperRef
    [slides-per-view]="1"
    [space-between]="0"
    [navigation]="true"
    [effect]="'fade'"
    [speed]="400"
    [loop]="true"
    class="movie-slider"
  >
    @for (movie of upComingMovies(); track movie.id + '_' + $index) {
    <swiper-slide class="movie-slide">
      <div class="movie-card" (click)="goToMovie(movie.id)">
        <img
          [src]="coverURL + movie.backdrop_path"
          [alt]="movie.title"
          class="movie-poster"
        />
        <div class="movie-cover-title">{{ movie.title }}</div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</div>
}

<div class="container">
  <app-card-slider
    [title]="'Top Rated Movies'"
    [content]="topRatedMovies()"
    [type]="'movie'"
    [titleAnimation]="'fade-right'"
    [titleDelay]="0"
    [cardAnimation]="'fade-up'"
    [cardDelay]="100"
    [cardDelayIncrement]="50"
  ></app-card-slider>

  <app-card-slider
    [title]="'Popular Movies'"
    [content]="movies()"
    [type]="'movie'"
    [titleAnimation]="'fade-left'"
    [titleDelay]="0"
    [cardAnimation]="'zoom-in'"
    [cardDelay]="100"
    [cardDelayIncrement]="50"
  ></app-card-slider>

  <app-card-slider
    [title]="'Top Rated TV Shows'"
    [content]="topRatedTvShows()"
    [type]="'tv'"
    [titleAnimation]="'fade-right'"
    [titleDelay]="0"
    [cardAnimation]="'fade-up'"
    [cardDelay]="100"
    [cardDelayIncrement]="50"
  ></app-card-slider>

  <app-card-slider
    [title]="'Popular TV Shows'"
    [content]="tvShows()"
    [type]="'tv'"
    [titleAnimation]="'fade-left'"
    [titleDelay]="0"
    [cardAnimation]="'flip-left'"
    [cardDelay]="100"
    [cardDelayIncrement]="50"
  ></app-card-slider>
</div>

<!-- ------------------------------------------------------------------------------ -->
